<!DOCTYPE html>
<html lang="en-us">

  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=yes" />

  <title>
    
      TNC Parking &middot; SFCTA Prospector
    
  </title>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/sfcta-logo-144.png">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <!-- LEAFLET PATTERN -->
  <script src="https://teastman.github.io/Leaflet.pattern/leaflet.pattern.js"></script>
  <!-- LEAFLET POLYLINE OFFSET -->
  <script src="https://unpkg.com/leaflet-polylineoffset/leaflet.polylineoffset.js"></script>
  <!-- LEAFLET TEXTPATH-->
  <script src="https://cdn.jsdelivr.net/npm/leaflet-textpath@1.2.0/leaflet.textpath.min.js"></script>

  <!-- VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- use the latest vue-select release -->
  <script src="https://unpkg.com/vue-select@latest"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/antd.css">

  <!-- MAPBOX GL -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

  <!-- SEMANTIC UI -->
  <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/semantic.min.js"></script>

  <!-- MORRIS CHARTS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  
  <!-- CHROMA -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.6/chroma.min.js"></script>
  
  <!-- D3 -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale.v2.min.js"></script>
  <!-- Simple Statistics -->
  <script src='https://unpkg.com/simple-statistics@7.0.2/dist/simple-statistics.min.js'></script>
  
  <!-- IONICONS -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/ionicons/leaflet.awesome-markers.css">
  <script src="/assets/ionicons/leaflet.awesome-markers.min.js"></script>

  <!-- Site CSS -->
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/sfcta.css">

  <!-- GOOGLE ANALYTICS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100715169-2"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KPLBN9L');</script>
  <!-- End Google Tag Manager -->

  <!-- Google reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
  <script src="https://unpkg.com/vue-recaptcha@latest/dist/vue-recaptcha.min.js"></script>

  <!-- Page CSS -->
  
    
      <link rel="stylesheet" href="tncparking/main.css">
    
  

  <!-- Google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,400italic,700">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:900i|Merriweather|Oleo+Script+Swash+Caps:700" rel="stylesheet">

</head>


  <body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPLBN9L"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <div class="container">
      <div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <div id="layer-widgets">
      <button class="ui tiny white icon button"
              v-on:click="clickedShowHide">
              <i class="angle double icon"
              v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
      </button>
    </div> 
  </div> 

  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">

    <h3 class="apptitle" style="margin-bottom:5px; margin-top:10px; font-size:25px">SF TNC Parking Data</h3>

    <div id="helpbar" style="margin-bottom:10px">
        <button class="ui mini right labeled icon grey button"
                v-on:click="clickToggleHelp">
                <i class="help circle icon"></i>
                What is this?
        </button>
        &nbsp;
        <button class="ui mini right labeled icon grey button"
                v-on:click="this.window.open('https://www.sfcta.org/','_blank')">
                <i class="arrow right icon"></i>
                Learn More
        </button>
    </div>

    <div id="picker">

      <h5 class="chooser_header">Location</h5>
        <button id="onstreet"
        		class="mini ui button"
                v-on:click="pickOnStreet" 
                v-bind:class="{ active: isOnStreetActive, color3: isOnStreetActive, color9:!isOnStreetActive}"
                box-shadow="none">
                On-Street
        </button>
        <button id="offstreet"
        		class="mini ui button"
                v-on:click="pickOffStreet" 
                v-bind:class="{ active: isOffStreetActive, color4: isOffStreetActive, color8: !isOffStreetActive}"
                box-shadow="none">
                Off-Street
        </button>

      <br>

      <h5 class="chooser_header">Day of Week</h5>
        <v-btn  class="ui mini grey button"
                id="dow"
                v-for="(item, index) in days"
                v-on:click="clickDay(index)"
                v-bind:class="{ active: index==day, color13: index==0, color1: ![0,6,7].includes(index), color2: [6,7].includes(index)}">
                ${item}
        </v-btn>
        <button class="mini ui button"
                id="play_button"
                v-on:click="clickDOWPlay" 
                v-bind:class="{ active: isPlayDOWActive, color5: isPlayDOWActive, color10: !isPlayDOWActive}">
                ${isPlayDOWActive ? '&nbsp;&#9612;&#9612;' : '&#9658'}
        </button>

      <h5 class="chooser_header">Hour of Day</h5>
	      <div id="timeslider" style="margin-left: 0px">
	          <vue-slider id='timeslider'
	                v-bind="timeSlider"
	                v-model="sliderValue"
	                style="width:85%; margin-left: 50px">
	          </vue-slider>
	          <button class="mini ui button"
	              id="play_button"
	                  v-on:click="clickTODPlay" 
	                  v-bind:class="{ active: isPlayTODActive, color5: isPlayTODActive, color10: !isPlayTODActive}"
                    style="margin-top:-53px">
	                  ${isPlayTODActive ? '&nbsp;&#9612;&#9612;' : '&#9658'}
	        </button>
	      </div>

      <div id="space" style="margin:20px;"><p>&nbsp</p></div>

        <div>
          <p class="header">Summary Statistics</p>
          <p class="description">${location_name}, ${day_name}, ${hour_name}${(geoTitle)=='' ? '' : (', '+geoTitle)}</p>
          <p class="summ_header">Total Parking Duration</p>
          <p><span class="summ_var">${overall_duration}</span> <span class="summ_minor">across</span> <span class="summ_var">${overall_events} events</span></p>
          <p class="summ_header">Average Duration</p>
          <p style="margin-top:0px"><span class="summ_var">${overall_avgduration}</span></p>
        </div>

      <div id="space" style="margin:10px;"><p>&nbsp</p></div>

      <p class="header">Daily Parking Duration</p>
      <p class="description">${location_name}, ${hour_name}${(geoTitle)=='' ? '' : (', '+geoTitle)}</p>

      <div id="div-daily">
        <div class="ui active dimmer"><div class="ui text loader">Loading</div></div>
      </div>

      <div id="space" style="margin:5px;"><p>&nbsp</p></div>

      <p class="header">Hourly Parking Duration</p>
      <p class="description">${location_name}, ${day_name}${(geoTitle)=='' ? '' : (', '+geoTitle)}</p>

      <div id="div-hourly"></div>

    </div>

    <div class="logo">
      <div>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
        <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="50%">
        </a>
      </div>
    </div>
  </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
    <div v-cloak> <!-- hides everything until Vue finished loading -->
      <h2 style="margin-bottom:0px;">TNC Parking Tool</h2>
      <hr style="margin-bottom:5px;margin-top:5px"/>
      This visualization displays observed TNC (Transportation Network Company) parking data for on-street and off-street locations across San Francisco in Fall 2016.
      <br>
      <ul>
        <li>The area of each circle represents the total parking duration for a specific location.</li> 
        <li>The color indicates whether the location is <span class="onstreet-text">on-street (blue)</span> or <span class="offstreet-text">off-street (orange)</span>.</li>
        <li>The <b>Summary Statistics</b> and <b>bar charts</b>  in the side panel summarize the data using the selected filters and features.</li>
      </ul>


      <h2 style="margin-top:10px; margin-bottom:0px;">How to use this visualization</h2>
      <hr style="margin-bottom:5px;margin-top:5px"/>
      <ul>
        <li>Filter by  location type (<span class="onstreet-text">on-street</span> or <span class="offstreet-text">off-street</span>) with the <b>Location</b> filter.</li>
        <li>Select a time period of interest using the <b>Day of Week</b> and <b>Hour of Day</b> filters.</li>
        <li>Explore how parking duration varies across days of the week and/or hours of the day with the <b>Play</b> buttons.</li>
        <li><b>Hover</b> over specific location circles to see an overview of that location’s parking data for the selected time period. <b>Click</b> on a location for further details.</li>
      </ul>

      <div style="margin-top:20px;">
        <button v-on:click="clickToggleHelp" 
                id="help_buttons"
                class="small ui right floated button ok-btn">
          &nbsp;OK&nbsp;
        </button>

        <!--button v-on:click="this.window.open('/assets/connectsf/trncrowding.zip')"
                class="small ui right labeled icon floated color1 button"
                style="margin-right:5px">
                <i class="icon download"></i>
                Download data (.zip)
        </button-->

        <!-- class="small ui right floated basic button" -->

        <button v-on:click="this.window.open('https://www.sfcta.org/','_blank')"
                class="small ui right floated button learn-more-btn"
                style="margin-right:5px">
          Learn more&hellip;
        </button>

      </div>
    </div>
  </div>

  <div id="sfmap"></div>
  <div id="summary-statistics"></div>

</div>

<script type="application/javascript" src="/bundles/tncparking.js"></script>

    </div>
  </body>

</html>
